/*
ReportPortal

ReportPortal API documentation

API version: develop-553
Contact: support@reportportal.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// TMSManualLaunchControllerAPIService TMSManualLaunchControllerAPI service
type TMSManualLaunchControllerAPIService service

type ApiAddTestCaseToLaunchRequest struct {
	ctx                                                    context.Context
	ApiService                                             *TMSManualLaunchControllerAPIService
	launchId                                               int64
	projectKey                                             string
	comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ *ComEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ
}

func (r ApiAddTestCaseToLaunchRequest) ComEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ(comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ ComEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ) ApiAddTestCaseToLaunchRequest {
	r.comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ = &comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ
	return r
}

func (r ApiAddTestCaseToLaunchRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddTestCaseToLaunchExecute(r)
}

/*
AddTestCaseToLaunch Add single test case to Manual Launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiAddTestCaseToLaunchRequest
*/
func (a *TMSManualLaunchControllerAPIService) AddTestCaseToLaunch(ctx context.Context, launchId int64, projectKey string) ApiAddTestCaseToLaunchRequest {
	return ApiAddTestCaseToLaunchRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
func (a *TMSManualLaunchControllerAPIService) AddTestCaseToLaunchExecute(r ApiAddTestCaseToLaunchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.AddTestCaseToLaunch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ == nil {
		return nil, reportError("comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.comEpamReportportalBaseCoreTmsDtoAddTestCaseToLaunchRQ
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAddTestCasesToLaunchRequest struct {
	ctx                                                               context.Context
	ApiService                                                        *TMSManualLaunchControllerAPIService
	launchId                                                          int64
	projectKey                                                        string
	comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ *ComEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ
}

func (r ApiAddTestCasesToLaunchRequest) ComEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ(comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ ComEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ) ApiAddTestCasesToLaunchRequest {
	r.comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ = &comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ
	return r
}

func (r ApiAddTestCasesToLaunchRequest) Execute() (*ComEpamReportportalBaseCoreTmsDtoBatchBatchTestCaseOperationResultRS, *http.Response, error) {
	return r.ApiService.AddTestCasesToLaunchExecute(r)
}

/*
AddTestCasesToLaunch Batch add multiple test cases to Manual Launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiAddTestCasesToLaunchRequest
*/
func (a *TMSManualLaunchControllerAPIService) AddTestCasesToLaunch(ctx context.Context, launchId int64, projectKey string) ApiAddTestCasesToLaunchRequest {
	return ApiAddTestCasesToLaunchRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseCoreTmsDtoBatchBatchTestCaseOperationResultRS
func (a *TMSManualLaunchControllerAPIService) AddTestCasesToLaunchExecute(r ApiAddTestCasesToLaunchRequest) (*ComEpamReportportalBaseCoreTmsDtoBatchBatchTestCaseOperationResultRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseCoreTmsDtoBatchBatchTestCaseOperationResultRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.AddTestCasesToLaunch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case/batch"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ == nil {
		return localVarReturnValue, nil, reportError("comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.comEpamReportportalBaseCoreTmsDtoBatchBatchAddTestCasesToLaunchRQ
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchDeleteManualLaunchesRequest struct {
	ctx                                                               context.Context
	ApiService                                                        *TMSManualLaunchControllerAPIService
	projectKey                                                        string
	comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ *ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ
}

func (r ApiBatchDeleteManualLaunchesRequest) ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ(comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ) ApiBatchDeleteManualLaunchesRequest {
	r.comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ = &comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ
	return r
}

func (r ApiBatchDeleteManualLaunchesRequest) Execute() (*ComEpamReportportalBaseCoreTmsDtoBatchBatchManualLaunchOperationResultRS, *http.Response, error) {
	return r.ApiService.BatchDeleteManualLaunchesExecute(r)
}

/*
BatchDeleteManualLaunches Batch delete Manual Launches

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectKey Project key
	@return ApiBatchDeleteManualLaunchesRequest
*/
func (a *TMSManualLaunchControllerAPIService) BatchDeleteManualLaunches(ctx context.Context, projectKey string) ApiBatchDeleteManualLaunchesRequest {
	return ApiBatchDeleteManualLaunchesRequest{
		ApiService: a,
		ctx:        ctx,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseCoreTmsDtoBatchBatchManualLaunchOperationResultRS
func (a *TMSManualLaunchControllerAPIService) BatchDeleteManualLaunchesExecute(r ApiBatchDeleteManualLaunchesRequest) (*ComEpamReportportalBaseCoreTmsDtoBatchBatchManualLaunchOperationResultRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseCoreTmsDtoBatchBatchManualLaunchOperationResultRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.BatchDeleteManualLaunches")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual"
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ == nil {
		return localVarReturnValue, nil, reportError("comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteManualLaunchesRQ
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBatchDeleteTestCaseExecutionsRequest struct {
	ctx                                                                   context.Context
	ApiService                                                            *TMSManualLaunchControllerAPIService
	launchId                                                              int64
	projectKey                                                            string
	comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ *ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ
}

func (r ApiBatchDeleteTestCaseExecutionsRequest) ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ(comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ) ApiBatchDeleteTestCaseExecutionsRequest {
	r.comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ = &comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ
	return r
}

func (r ApiBatchDeleteTestCaseExecutionsRequest) Execute() (*ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsResultRS, *http.Response, error) {
	return r.ApiService.BatchDeleteTestCaseExecutionsExecute(r)
}

/*
BatchDeleteTestCaseExecutions Batch delete test case executions from launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiBatchDeleteTestCaseExecutionsRequest
*/
func (a *TMSManualLaunchControllerAPIService) BatchDeleteTestCaseExecutions(ctx context.Context, launchId int64, projectKey string) ApiBatchDeleteTestCaseExecutionsRequest {
	return ApiBatchDeleteTestCaseExecutionsRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsResultRS
func (a *TMSManualLaunchControllerAPIService) BatchDeleteTestCaseExecutionsExecute(r ApiBatchDeleteTestCaseExecutionsRequest) (*ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsResultRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsResultRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.BatchDeleteTestCaseExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case/execution"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ == nil {
		return localVarReturnValue, nil, reportError("comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.comEpamReportportalBaseCoreTmsDtoBatchBatchDeleteTestCaseExecutionsRQ
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateManualLaunchRequest struct {
	ctx                                                      context.Context
	ApiService                                               *TMSManualLaunchControllerAPIService
	projectKey                                               string
	comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ *ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ
}

func (r ApiCreateManualLaunchRequest) ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ(comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ) ApiCreateManualLaunchRequest {
	r.comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ = &comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ
	return r
}

func (r ApiCreateManualLaunchRequest) Execute() (*ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRS, *http.Response, error) {
	return r.ApiService.CreateManualLaunchExecute(r)
}

/*
CreateManualLaunch Create a new TMS Manual Launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectKey Project key
	@return ApiCreateManualLaunchRequest
*/
func (a *TMSManualLaunchControllerAPIService) CreateManualLaunch(ctx context.Context, projectKey string) ApiCreateManualLaunchRequest {
	return ApiCreateManualLaunchRequest{
		ApiService: a,
		ctx:        ctx,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRS
func (a *TMSManualLaunchControllerAPIService) CreateManualLaunchExecute(r ApiCreateManualLaunchRequest) (*ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.CreateManualLaunch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual"
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ == nil {
		return localVarReturnValue, nil, reportError("comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.comEpamReportportalBaseCoreTmsDtoCreateTmsManualLaunchRQ
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteManualLaunchRequest struct {
	ctx        context.Context
	ApiService *TMSManualLaunchControllerAPIService
	launchId   int64
	projectKey string
}

func (r ApiDeleteManualLaunchRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteManualLaunchExecute(r)
}

/*
DeleteManualLaunch Delete Manual Launch by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiDeleteManualLaunchRequest
*/
func (a *TMSManualLaunchControllerAPIService) DeleteManualLaunch(ctx context.Context, launchId int64, projectKey string) ApiDeleteManualLaunchRequest {
	return ApiDeleteManualLaunchRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
func (a *TMSManualLaunchControllerAPIService) DeleteManualLaunchExecute(r ApiDeleteManualLaunchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.DeleteManualLaunch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteTestCaseExecutionRequest struct {
	ctx         context.Context
	ApiService  *TMSManualLaunchControllerAPIService
	executionId int64
	launchId    int64
	projectKey  string
}

func (r ApiDeleteTestCaseExecutionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteTestCaseExecutionExecute(r)
}

/*
DeleteTestCaseExecution Delete specific test case execution from launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId Execution ID
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiDeleteTestCaseExecutionRequest
*/
func (a *TMSManualLaunchControllerAPIService) DeleteTestCaseExecution(ctx context.Context, executionId int64, launchId int64, projectKey string) ApiDeleteTestCaseExecutionRequest {
	return ApiDeleteTestCaseExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		launchId:    launchId,
		projectKey:  projectKey,
	}
}

// Execute executes the request
func (a *TMSManualLaunchControllerAPIService) DeleteTestCaseExecutionExecute(r ApiDeleteTestCaseExecutionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.DeleteTestCaseExecution")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case/execution/{executionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteTestCaseExecutionCommentRequest struct {
	ctx         context.Context
	ApiService  *TMSManualLaunchControllerAPIService
	executionId int64
	launchId    int64
	projectKey  string
}

func (r ApiDeleteTestCaseExecutionCommentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteTestCaseExecutionCommentExecute(r)
}

/*
DeleteTestCaseExecutionComment Delete test case execution comment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId Execution ID
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiDeleteTestCaseExecutionCommentRequest
*/
func (a *TMSManualLaunchControllerAPIService) DeleteTestCaseExecutionComment(ctx context.Context, executionId int64, launchId int64, projectKey string) ApiDeleteTestCaseExecutionCommentRequest {
	return ApiDeleteTestCaseExecutionCommentRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		launchId:    launchId,
		projectKey:  projectKey,
	}
}

// Execute executes the request
func (a *TMSManualLaunchControllerAPIService) DeleteTestCaseExecutionCommentExecute(r ApiDeleteTestCaseExecutionCommentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.DeleteTestCaseExecutionComment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case/execution/{executionId}/comment"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetLaunchFoldersRequest struct {
	ctx                             context.Context
	ApiService                      *TMSManualLaunchControllerAPIService
	launchId                        int64
	projectKey                      string
	filterEqId                      *int32
	filterEqTestCaseName            *string
	filterEqLaunchId                *int32
	filterEqTestCasePriority        *string
	filterEqTestCaseAttributeKey    *[]string
	filterEqTestCaseExecutionStatus *string
}

// Filters by &#39;id&#39;
func (r ApiGetLaunchFoldersRequest) FilterEqId(filterEqId int32) ApiGetLaunchFoldersRequest {
	r.filterEqId = &filterEqId
	return r
}

// Filters by &#39;testCaseName&#39;
func (r ApiGetLaunchFoldersRequest) FilterEqTestCaseName(filterEqTestCaseName string) ApiGetLaunchFoldersRequest {
	r.filterEqTestCaseName = &filterEqTestCaseName
	return r
}

// Filters by &#39;launchId&#39;
func (r ApiGetLaunchFoldersRequest) FilterEqLaunchId(filterEqLaunchId int32) ApiGetLaunchFoldersRequest {
	r.filterEqLaunchId = &filterEqLaunchId
	return r
}

// Filters by &#39;testCasePriority&#39;
func (r ApiGetLaunchFoldersRequest) FilterEqTestCasePriority(filterEqTestCasePriority string) ApiGetLaunchFoldersRequest {
	r.filterEqTestCasePriority = &filterEqTestCasePriority
	return r
}

// Filters by &#39;testCaseAttributeKey&#39;
func (r ApiGetLaunchFoldersRequest) FilterEqTestCaseAttributeKey(filterEqTestCaseAttributeKey []string) ApiGetLaunchFoldersRequest {
	r.filterEqTestCaseAttributeKey = &filterEqTestCaseAttributeKey
	return r
}

// Filters by &#39;testCaseExecutionStatus&#39;
func (r ApiGetLaunchFoldersRequest) FilterEqTestCaseExecutionStatus(filterEqTestCaseExecutionStatus string) ApiGetLaunchFoldersRequest {
	r.filterEqTestCaseExecutionStatus = &filterEqTestCaseExecutionStatus
	return r
}

func (r ApiGetLaunchFoldersRequest) Execute() (*ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestFolderRS, *http.Response, error) {
	return r.ApiService.GetLaunchFoldersExecute(r)
}

/*
GetLaunchFolders Get folders of launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiGetLaunchFoldersRequest
*/
func (a *TMSManualLaunchControllerAPIService) GetLaunchFolders(ctx context.Context, launchId int64, projectKey string) ApiGetLaunchFoldersRequest {
	return ApiGetLaunchFoldersRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestFolderRS
func (a *TMSManualLaunchControllerAPIService) GetLaunchFoldersExecute(r ApiGetLaunchFoldersRequest) (*ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestFolderRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestFolderRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.GetLaunchFolders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/folder"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterEqId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.id", r.filterEqId, "form", "")
	}
	if r.filterEqTestCaseName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testCaseName", r.filterEqTestCaseName, "form", "")
	}
	if r.filterEqLaunchId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.launchId", r.filterEqLaunchId, "form", "")
	}
	if r.filterEqTestCasePriority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testCasePriority", r.filterEqTestCasePriority, "form", "")
	}
	if r.filterEqTestCaseAttributeKey != nil {
		t := *r.filterEqTestCaseAttributeKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testCaseAttributeKey", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testCaseAttributeKey", t, "form", "multi")
		}
	}
	if r.filterEqTestCaseExecutionStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testCaseExecutionStatus", r.filterEqTestCaseExecutionStatus, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLaunchTestCaseExecutionsRequest struct {
	ctx                  context.Context
	ApiService           *TMSManualLaunchControllerAPIService
	launchId             int64
	projectKey           string
	filterEqId           *int32
	filterEqLaunchId     *int32
	filterEqStatus       *string
	filterEqTestCaseId   *int32
	filterEqDisplayId    *string
	filterEqTestFolderId *int32
	filterEqAttributeKey *[]string
	filterEqName         *string
	filterEqTestItemId   *int32
	filterEqPriority     *string
}

// Filters by &#39;id&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqId(filterEqId int32) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqId = &filterEqId
	return r
}

// Filters by &#39;launchId&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqLaunchId(filterEqLaunchId int32) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqLaunchId = &filterEqLaunchId
	return r
}

// Filters by &#39;status&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqStatus(filterEqStatus string) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqStatus = &filterEqStatus
	return r
}

// Filters by &#39;testCaseId&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqTestCaseId(filterEqTestCaseId int32) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqTestCaseId = &filterEqTestCaseId
	return r
}

// Filters by &#39;displayId&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqDisplayId(filterEqDisplayId string) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqDisplayId = &filterEqDisplayId
	return r
}

// Filters by &#39;testFolderId&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqTestFolderId(filterEqTestFolderId int32) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqTestFolderId = &filterEqTestFolderId
	return r
}

// Filters by &#39;attributeKey&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqAttributeKey(filterEqAttributeKey []string) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqAttributeKey = &filterEqAttributeKey
	return r
}

// Filters by &#39;name&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqName(filterEqName string) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqName = &filterEqName
	return r
}

// Filters by &#39;testItemId&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqTestItemId(filterEqTestItemId int32) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqTestItemId = &filterEqTestItemId
	return r
}

// Filters by &#39;priority&#39;
func (r ApiGetLaunchTestCaseExecutionsRequest) FilterEqPriority(filterEqPriority string) ApiGetLaunchTestCaseExecutionsRequest {
	r.filterEqPriority = &filterEqPriority
	return r
}

func (r ApiGetLaunchTestCaseExecutionsRequest) Execute() (*ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS, *http.Response, error) {
	return r.ApiService.GetLaunchTestCaseExecutionsExecute(r)
}

/*
GetLaunchTestCaseExecutions Get all test case executions of launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiGetLaunchTestCaseExecutionsRequest
*/
func (a *TMSManualLaunchControllerAPIService) GetLaunchTestCaseExecutions(ctx context.Context, launchId int64, projectKey string) ApiGetLaunchTestCaseExecutionsRequest {
	return ApiGetLaunchTestCaseExecutionsRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS
func (a *TMSManualLaunchControllerAPIService) GetLaunchTestCaseExecutionsExecute(r ApiGetLaunchTestCaseExecutionsRequest) (*ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.GetLaunchTestCaseExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case/execution"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterEqId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.id", r.filterEqId, "form", "")
	}
	if r.filterEqLaunchId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.launchId", r.filterEqLaunchId, "form", "")
	}
	if r.filterEqStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.status", r.filterEqStatus, "form", "")
	}
	if r.filterEqTestCaseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testCaseId", r.filterEqTestCaseId, "form", "")
	}
	if r.filterEqDisplayId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.displayId", r.filterEqDisplayId, "form", "")
	}
	if r.filterEqTestFolderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testFolderId", r.filterEqTestFolderId, "form", "")
	}
	if r.filterEqAttributeKey != nil {
		t := *r.filterEqAttributeKey
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.attributeKey", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.attributeKey", t, "form", "multi")
		}
	}
	if r.filterEqName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.name", r.filterEqName, "form", "")
	}
	if r.filterEqTestItemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testItemId", r.filterEqTestItemId, "form", "")
	}
	if r.filterEqPriority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.priority", r.filterEqPriority, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetManualLaunchByIdRequest struct {
	ctx        context.Context
	ApiService *TMSManualLaunchControllerAPIService
	launchId   int64
	projectKey string
}

func (r ApiGetManualLaunchByIdRequest) Execute() (*ComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS, *http.Response, error) {
	return r.ApiService.GetManualLaunchByIdExecute(r)
}

/*
GetManualLaunchById Get Manual Launch by ID

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiGetManualLaunchByIdRequest
*/
func (a *TMSManualLaunchControllerAPIService) GetManualLaunchById(ctx context.Context, launchId int64, projectKey string) ApiGetManualLaunchByIdRequest {
	return ApiGetManualLaunchByIdRequest{
		ApiService: a,
		ctx:        ctx,
		launchId:   launchId,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS
func (a *TMSManualLaunchControllerAPIService) GetManualLaunchByIdExecute(r ApiGetManualLaunchByIdRequest) (*ComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.GetManualLaunchById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetManualLaunchesRequest struct {
	ctx                                         context.Context
	ApiService                                  *TMSManualLaunchControllerAPIService
	projectKey                                  string
	filterEqHasRetries                          *bool
	filterEqEndTime                             *string
	filterEqLaunchType                          *string
	filterEqUser                                *string
	filterEqAttributeValue                      *string
	filterEqStatisticsdefectsnoDefectnd001      *int32
	filterEqId                                  *int32
	filterEqStatisticsexecutionstotal           *int32
	filterEqStatisticsdefectsproductBugpb001    *int32
	filterEqStatisticsexecutionsfailed          *int32
	filterEqStatisticsdefectstoInvestigateti001 *int32
	filterEqTestPlanId                          *int32
	filterEqUuid                                *string
	filterEqStatisticsdefectssystemIssuesi001   *int32
	filterEqStatus                              *string
	filterEqStatisticsexecutionsskipped         *int32
	filterEqLastModified                        *string
	filterEqAttributeKey                        *string
	filterEqStatisticsdefectsautomationBugab001 *int32
	filterEqNumber                              *int32
	filterEqUserId                              *int32
	filterEqMode                                *string
	filterEqDescription                         *string
	filterEqStatisticsexecutionspassed          *int32
	filterEqStartTime                           *string
	filterHasCompositeAttribute                 *string
	filterEqProjectId                           *int32
	filterEqName                                *string
}

// Filters by &#39;hasRetries&#39;
func (r ApiGetManualLaunchesRequest) FilterEqHasRetries(filterEqHasRetries bool) ApiGetManualLaunchesRequest {
	r.filterEqHasRetries = &filterEqHasRetries
	return r
}

// Filters by &#39;endTime&#39;
func (r ApiGetManualLaunchesRequest) FilterEqEndTime(filterEqEndTime string) ApiGetManualLaunchesRequest {
	r.filterEqEndTime = &filterEqEndTime
	return r
}

// Filters by &#39;launchType&#39;
func (r ApiGetManualLaunchesRequest) FilterEqLaunchType(filterEqLaunchType string) ApiGetManualLaunchesRequest {
	r.filterEqLaunchType = &filterEqLaunchType
	return r
}

// Filters by &#39;user&#39;
func (r ApiGetManualLaunchesRequest) FilterEqUser(filterEqUser string) ApiGetManualLaunchesRequest {
	r.filterEqUser = &filterEqUser
	return r
}

// Filters by &#39;attributeValue&#39;
func (r ApiGetManualLaunchesRequest) FilterEqAttributeValue(filterEqAttributeValue string) ApiGetManualLaunchesRequest {
	r.filterEqAttributeValue = &filterEqAttributeValue
	return r
}

// Filters by &#39;statistics$defects$no_defect$nd001&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsdefectsnoDefectnd001(filterEqStatisticsdefectsnoDefectnd001 int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsdefectsnoDefectnd001 = &filterEqStatisticsdefectsnoDefectnd001
	return r
}

// Filters by &#39;id&#39;
func (r ApiGetManualLaunchesRequest) FilterEqId(filterEqId int32) ApiGetManualLaunchesRequest {
	r.filterEqId = &filterEqId
	return r
}

// Filters by &#39;statistics$executions$total&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsexecutionstotal(filterEqStatisticsexecutionstotal int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsexecutionstotal = &filterEqStatisticsexecutionstotal
	return r
}

// Filters by &#39;statistics$defects$product_bug$pb001&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsdefectsproductBugpb001(filterEqStatisticsdefectsproductBugpb001 int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsdefectsproductBugpb001 = &filterEqStatisticsdefectsproductBugpb001
	return r
}

// Filters by &#39;statistics$executions$failed&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsexecutionsfailed(filterEqStatisticsexecutionsfailed int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsexecutionsfailed = &filterEqStatisticsexecutionsfailed
	return r
}

// Filters by &#39;statistics$defects$to_investigate$ti001&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsdefectstoInvestigateti001(filterEqStatisticsdefectstoInvestigateti001 int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsdefectstoInvestigateti001 = &filterEqStatisticsdefectstoInvestigateti001
	return r
}

// Filters by &#39;testPlanId&#39;
func (r ApiGetManualLaunchesRequest) FilterEqTestPlanId(filterEqTestPlanId int32) ApiGetManualLaunchesRequest {
	r.filterEqTestPlanId = &filterEqTestPlanId
	return r
}

// Filters by &#39;uuid&#39;
func (r ApiGetManualLaunchesRequest) FilterEqUuid(filterEqUuid string) ApiGetManualLaunchesRequest {
	r.filterEqUuid = &filterEqUuid
	return r
}

// Filters by &#39;statistics$defects$system_issue$si001&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsdefectssystemIssuesi001(filterEqStatisticsdefectssystemIssuesi001 int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsdefectssystemIssuesi001 = &filterEqStatisticsdefectssystemIssuesi001
	return r
}

// Filters by &#39;status&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatus(filterEqStatus string) ApiGetManualLaunchesRequest {
	r.filterEqStatus = &filterEqStatus
	return r
}

// Filters by &#39;statistics$executions$skipped&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsexecutionsskipped(filterEqStatisticsexecutionsskipped int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsexecutionsskipped = &filterEqStatisticsexecutionsskipped
	return r
}

// Filters by &#39;lastModified&#39;
func (r ApiGetManualLaunchesRequest) FilterEqLastModified(filterEqLastModified string) ApiGetManualLaunchesRequest {
	r.filterEqLastModified = &filterEqLastModified
	return r
}

// Filters by &#39;attributeKey&#39;
func (r ApiGetManualLaunchesRequest) FilterEqAttributeKey(filterEqAttributeKey string) ApiGetManualLaunchesRequest {
	r.filterEqAttributeKey = &filterEqAttributeKey
	return r
}

// Filters by &#39;statistics$defects$automation_bug$ab001&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsdefectsautomationBugab001(filterEqStatisticsdefectsautomationBugab001 int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsdefectsautomationBugab001 = &filterEqStatisticsdefectsautomationBugab001
	return r
}

// Filters by &#39;number&#39;
func (r ApiGetManualLaunchesRequest) FilterEqNumber(filterEqNumber int32) ApiGetManualLaunchesRequest {
	r.filterEqNumber = &filterEqNumber
	return r
}

// Filters by &#39;userId&#39;
func (r ApiGetManualLaunchesRequest) FilterEqUserId(filterEqUserId int32) ApiGetManualLaunchesRequest {
	r.filterEqUserId = &filterEqUserId
	return r
}

// Filters by &#39;mode&#39;
func (r ApiGetManualLaunchesRequest) FilterEqMode(filterEqMode string) ApiGetManualLaunchesRequest {
	r.filterEqMode = &filterEqMode
	return r
}

// Filters by &#39;description&#39;
func (r ApiGetManualLaunchesRequest) FilterEqDescription(filterEqDescription string) ApiGetManualLaunchesRequest {
	r.filterEqDescription = &filterEqDescription
	return r
}

// Filters by &#39;statistics$executions$passed&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStatisticsexecutionspassed(filterEqStatisticsexecutionspassed int32) ApiGetManualLaunchesRequest {
	r.filterEqStatisticsexecutionspassed = &filterEqStatisticsexecutionspassed
	return r
}

// Filters by &#39;startTime&#39;
func (r ApiGetManualLaunchesRequest) FilterEqStartTime(filterEqStartTime string) ApiGetManualLaunchesRequest {
	r.filterEqStartTime = &filterEqStartTime
	return r
}

// Filters by &#39;compositeAttribute&#39;
func (r ApiGetManualLaunchesRequest) FilterHasCompositeAttribute(filterHasCompositeAttribute string) ApiGetManualLaunchesRequest {
	r.filterHasCompositeAttribute = &filterHasCompositeAttribute
	return r
}

// Filters by &#39;projectId&#39;
func (r ApiGetManualLaunchesRequest) FilterEqProjectId(filterEqProjectId int32) ApiGetManualLaunchesRequest {
	r.filterEqProjectId = &filterEqProjectId
	return r
}

// Filters by &#39;name&#39;
func (r ApiGetManualLaunchesRequest) FilterEqName(filterEqName string) ApiGetManualLaunchesRequest {
	r.filterEqName = &filterEqName
	return r
}

func (r ApiGetManualLaunchesRequest) Execute() (*ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS, *http.Response, error) {
	return r.ApiService.GetManualLaunchesExecute(r)
}

/*
GetManualLaunches Get Manual Launches by criteria

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectKey Project key
	@return ApiGetManualLaunchesRequest
*/
func (a *TMSManualLaunchControllerAPIService) GetManualLaunches(ctx context.Context, projectKey string) ApiGetManualLaunchesRequest {
	return ApiGetManualLaunchesRequest{
		ApiService: a,
		ctx:        ctx,
		projectKey: projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS
func (a *TMSManualLaunchControllerAPIService) GetManualLaunchesExecute(r ApiGetManualLaunchesRequest) (*ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseModelPageComEpamReportportalBaseCoreTmsDtoTmsManualLaunchRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.GetManualLaunches")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual"
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.filterEqHasRetries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.hasRetries", r.filterEqHasRetries, "form", "")
	}
	if r.filterEqEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.endTime", r.filterEqEndTime, "form", "")
	}
	if r.filterEqLaunchType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.launchType", r.filterEqLaunchType, "form", "")
	}
	if r.filterEqUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.user", r.filterEqUser, "form", "")
	}
	if r.filterEqAttributeValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.attributeValue", r.filterEqAttributeValue, "form", "")
	}
	if r.filterEqStatisticsdefectsnoDefectnd001 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$defects$no_defect$nd001", r.filterEqStatisticsdefectsnoDefectnd001, "form", "")
	}
	if r.filterEqId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.id", r.filterEqId, "form", "")
	}
	if r.filterEqStatisticsexecutionstotal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$executions$total", r.filterEqStatisticsexecutionstotal, "form", "")
	}
	if r.filterEqStatisticsdefectsproductBugpb001 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$defects$product_bug$pb001", r.filterEqStatisticsdefectsproductBugpb001, "form", "")
	}
	if r.filterEqStatisticsexecutionsfailed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$executions$failed", r.filterEqStatisticsexecutionsfailed, "form", "")
	}
	if r.filterEqStatisticsdefectstoInvestigateti001 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$defects$to_investigate$ti001", r.filterEqStatisticsdefectstoInvestigateti001, "form", "")
	}
	if r.filterEqTestPlanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.testPlanId", r.filterEqTestPlanId, "form", "")
	}
	if r.filterEqUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.uuid", r.filterEqUuid, "form", "")
	}
	if r.filterEqStatisticsdefectssystemIssuesi001 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$defects$system_issue$si001", r.filterEqStatisticsdefectssystemIssuesi001, "form", "")
	}
	if r.filterEqStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.status", r.filterEqStatus, "form", "")
	}
	if r.filterEqStatisticsexecutionsskipped != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$executions$skipped", r.filterEqStatisticsexecutionsskipped, "form", "")
	}
	if r.filterEqLastModified != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.lastModified", r.filterEqLastModified, "form", "")
	}
	if r.filterEqAttributeKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.attributeKey", r.filterEqAttributeKey, "form", "")
	}
	if r.filterEqStatisticsdefectsautomationBugab001 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$defects$automation_bug$ab001", r.filterEqStatisticsdefectsautomationBugab001, "form", "")
	}
	if r.filterEqNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.number", r.filterEqNumber, "form", "")
	}
	if r.filterEqUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.userId", r.filterEqUserId, "form", "")
	}
	if r.filterEqMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.mode", r.filterEqMode, "form", "")
	}
	if r.filterEqDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.description", r.filterEqDescription, "form", "")
	}
	if r.filterEqStatisticsexecutionspassed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.statistics$executions$passed", r.filterEqStatisticsexecutionspassed, "form", "")
	}
	if r.filterEqStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.startTime", r.filterEqStartTime, "form", "")
	}
	if r.filterHasCompositeAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.has.compositeAttribute", r.filterHasCompositeAttribute, "form", "")
	}
	if r.filterEqProjectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.projectId", r.filterEqProjectId, "form", "")
	}
	if r.filterEqName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter.eq.name", r.filterEqName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTestCaseExecutionRequest struct {
	ctx         context.Context
	ApiService  *TMSManualLaunchControllerAPIService
	executionId int64
	launchId    int64
	projectKey  string
}

func (r ApiGetTestCaseExecutionRequest) Execute() (*ComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS, *http.Response, error) {
	return r.ApiService.GetTestCaseExecutionExecute(r)
}

/*
GetTestCaseExecution Get specific test case execution of launch

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId Execution ID
	@param launchId Launch ID
	@param projectKey Project key
	@return ApiGetTestCaseExecutionRequest
*/
func (a *TMSManualLaunchControllerAPIService) GetTestCaseExecution(ctx context.Context, executionId int64, launchId int64, projectKey string) ApiGetTestCaseExecutionRequest {
	return ApiGetTestCaseExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		launchId:    launchId,
		projectKey:  projectKey,
	}
}

// Execute executes the request
//
//	@return ComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS
func (a *TMSManualLaunchControllerAPIService) GetTestCaseExecutionExecute(r ApiGetTestCaseExecutionRequest) (*ComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ComEpamReportportalBaseCoreTmsDtoTmsTestCaseExecutionRS
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TMSManualLaunchControllerAPIService.GetTestCaseExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/project/{projectKey}/launch/manual/{launchId}/test-case/execution/{executionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"launchId"+"}", url.PathEscape(parameterValueToString(r.launchId, "launchId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"projectKey"+"}", url.PathEscape(parameterValueToString(r.projectKey, "projectKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if a.client.cfg.ResponseMiddleware != nil {
		err = a.client.cfg.ResponseMiddleware(localVarHTTPResponse, localVarBody)
		if err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v SaveAnalyticsSettings1401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ComEpamReportportalBaseInfrastructureRulesExceptionErrorRS
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
[...]
